﻿@model MSCGroupProject.Models.LoginModel
@{
    ViewBag.Title = "Login";
}

<div class="container body-content">
    @using (Html.BeginForm("Login", "User", FormMethod.Post, new { @class = "form-signin" }))
    {
        @Html.AntiForgeryToken()
        <h2 class="form-signin-heading">Sign in</h2>

        @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "sr-only" })
        @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { id = "inputUsername", placeholder = "Username", @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })



        @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "sr-only" })

        @Html.PasswordFor(model => model.Password, new { id = "inputPassword", placeholder = "Password", @class = "inputPassword form-control" })
        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
        <button class="btn btn-lg btn-primary btn-block" id="btn-signin" type="submit">Sign in</button>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}