﻿@model MSCGroupProject.Models.ManageUserViewModel

@{
    ViewBag.Title = "Manage User";
}
<div class="container">
    <div class="jumbotron">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="blog-details">
                <h2>User</h2>
                <table class="table">
                    <tr>
                        <td><b>@Html.DisplayName("Name")</b></td>
                        <td>@Model.User.Firstname @Model.User.Lastname</td>
                    </tr>
                    <tr>
                        <td><b>@Html.DisplayName("Username")</b></td>
                        <td>@Model.User.Username</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<div id="contatiner">
    <div style="height:auto;"></div>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand active" href="#">Profile</a>
            </div>
            <div>
                <ul class="nav navbar-nav">
                    <li data-toggle="modal" data-target="#addProfile"><a href="#">Create New</a></li>
                    <li data-toggle="modal" data-target="#addProfileToUser"><a href=" #">Add Existing</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <table class="table">
        <thead>
            <tr>
                <th>@Html.DisplayName("#ID")</th>
                <th>@Html.DisplayName("Name")</th>
                <th>@Html.DisplayName("Catagory")</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (Model.User.Profiles.Count != 0)
            {
                foreach (var item in Model.User.Profiles)
                {
                    <tr>
                        <td>@item.Id.ToString()</td>
                        <td>@Html.DisplayFor(modelItem => item.Name)</td>
                        <td>@Html.DisplayFor(modelItem => item.Catagory)</td>
                        <td>
                            <a href="@Url.Action("ManageProfiles", "User", new { userId = Model.User.Id, profileId = item.Id, add = false })" class=" btn btn-danger"><span class="glyphicon glyphicon-trash"></span></a>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr><td>No Profile</td></tr>
            }
        </tbody>
    </table>
</div>
<div class="modal fade" id="addProfile" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Profile</h4>
            </div>
            @using (Html.BeginForm("AddNewProfile", "User", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="modal-body" id="tblProfile">
                        <div class="form-group">
                            <label class="control-label col-md-2" for="Name">Name</label>
                            <div class="col-md-10">
                                <input class="form-control text-box single-line" id="Name" name="Name" type="text" value="" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2" for="Catagory">Catagory</label>
                            <div class="col-md-10">
                                <input class="form-control text-box single-line" id="Catagory" name="Catagory" type="text" value="" />
                            </div>
                        </div>
                        <div class="form-group" hidden>
                            <label class="control-label col-md-2" for="userId">User</label>
                            <div class="col-md-10">
                                <input class="form-control text-box single-line" id="UserId" name="userId" type="text" readonly value="@Model.User.Id" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Create" class="btn btn-primary" />
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>

                    </div>
                </div>
            }
        </div>
    </div>
</div>
<div id="container">
    <div class="modal fade" id="addProfileToUser" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Profile</h4>
                </div>
                <div class="modal-body" id="tblProfile">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>@Html.DisplayName("Name")</th>
                                <th>@Html.DisplayName("Catagory")</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.Profiles.Count != 0)
                            {
                                foreach (var item in Model.Profiles)
                                {
                                    <tr>
                                        <td>@Html.DisplayFor(modelItem => item.Name)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Catagory)</td>
                                        <td>
                                            <a href="@Url.Action("ManageProfiles", "User", new { userId = Model.User.Id, profileId = item.Id, add = true })"
                                               class="btn btn-success"><span class="glyphicon glyphicon-plus"></span>Add</a>
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>No VisualItem </tr>
                            }
                        </tbody>

                    </table>
                </div>
            </div>

        </div>
    </div>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.User.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
