﻿<ul class="nav navbar-nav navbar-right">
    @if (!string.IsNullOrEmpty(User.Identity.Name))
    {
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">@(User.Identity.Name != null ? User.Identity.Name : "Log in")<span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="@Url.Action("LogOff","User")">Log Out</a></li>
                <li><a href="@Url.Action("Manage","user")">Manage</a></li>
            </ul>
        </li>
    }
    else
    {
        <ul class="nav navbar-nav navbar-right">
            <li>@Html.ActionLink("Register", "Register", "User", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
            <li>@Html.ActionLink("Log in", "Login", "User", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        </ul>
    }
