﻿@model IEnumerable<MSCGroupProject.Framework.Domain.Profile>

@{
    ViewBag.Title = "Index";
}
<div id="container">
<h2>Profile</h2>

<button data-toggle="modal" data-target="#addProfile" class="btn btn-success">
    <span class="glyphicon glyphicon-plus-sign"></span> Profile
</button><br />
    <div style="margin-top:10px;">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Catagory)
                </th>
                <th>
                    @Html.DisplayName("Is Default")
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Catagory)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsDefault)
                    </td>
                    <td>
                        <a href="@Url.Action("Manage", "Profile", new {id = item.Id })" class="btn btn-primary"><span class="glyphicon glyphicon-wrench"></span>  Manage</a>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>
<div class="modal fade" id="addProfile" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Profile</h4>
            </div>
                @using (Html.BeginForm("Create", "Profile", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="modal-body" id="tblProfile">
                            <div class="form-group">
                                <label class="control-label col-md-2" for="Name">Name</label>
                                <div class="col-md-10">
                                    <input class="form-control text-box single-line" id="Name" name="Name" type="text" value="" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2" for="Catagory">Catagory</label>
                                <div class="col-md-10">
                                    <input class="form-control text-box single-line" id="Catagory" name="Catagory" type="text" value="" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2" for="IsDefault">Default</label>
                                <div class="col-md-10">
                                    <input class="form-control text-box single-line" id="IsDefault" name="IsDefault" type="checkbox" value="true" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Create" class="btn btn-primary" />
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>

                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>