﻿@model MSCGroupProject.Models.ManageProfileViewModel
@{
    ViewBag.Title = "Manage Profile";
}
<div>
    <div class="container">
        <div class="jumbotron">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="blog-details">
                    <h2>Profile</h2>
                    <table class="table">
                        <tr>
                            <td><b>@Html.DisplayName("Name")</b></td>
                            <td>@Model.Profile.Name</td>
                        </tr>
                        <tr>
                            <td><b>@Html.DisplayName("Catagory")</b></td>
                            <td>@Model.Profile.Catagory</td>
                        </tr>
                        <tr>
                            <td><b>@Html.DisplayName("Is Default")</b></td>
                            <td>@Model.Profile.IsDefault</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="container">
    <div style="height:auto;"></div>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand active" href="#">Visual Item</a>
            </div>
            <div>
                <ul class="nav navbar-nav">
                    <li data-toggle="modal" data-target="#newVisualItem"><a href="#">Create New</a></li>
                    <li data-toggle="modal" data-target="#addVisualItem"><a href=" #">Add Existing</a></li>
        </ul>
    </div>
        </div>
    </nav>
    <table class="table">
        <thead>
            <tr>
                <th>@Html.DisplayName("#ID")</th>
                <th>@Html.DisplayName("Name")</th>
                <th>@Html.DisplayName("Description")</th>
                <th>@Html.DisplayName("Text")</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Profile.VisualItems)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Id)</td>
                    <td>@Html.DisplayFor(modelItem => item.Name)</td>
                    <td>@Html.DisplayFor(modelItem => item.Description)</td>
                    <td>@Html.DisplayFor(modelItem => item.Text)</td>
                    <td> 
                        <a href="@Url.Action("MangeVisualItem", "Profile", new { profileId = Model.Profile.Id, visualItemId = item.Id, add = false })" class=" btn btn-danger"><span class="glyphicon glyphicon-trash"></span></a>
                    </td>
                </tr>
            } 
        </tbody>
</table>
</div>

<div id="container">
    <div style="height:auto;"></div>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand active" href="#">Geofence</a>
            </div>
            <div>
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Create New", "Create", "Geofence")</li>
                    <li data-toggle="modal" data-target="#addGeofence"><a href=" #">Add Exisiting</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <table class=" table">
        <thead>
            <tr>
                <th>@Html.DisplayName("#ID")</th>
                <th>@Html.DisplayName("Name")</th>
                <th>@Html.DisplayName("Lat")</th>
                <th>@Html.DisplayName("Long")</th>
                <th>@Html.DisplayName("Radius")</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Profile.GeoFences.Count != 0)
            {
                foreach (var item in Model.Profile.GeoFences)
                {
                    <tr>
                        <td>@item.Id.ToString()</td>
                        <td>@item.Name</td>
                        <td>@item.Lat</td>
                        <td>@item.Long</td>
                        <td>@item.Radius</td>
                        <td>
                            <a href="@Url.Action("ManageGeofence", "Profile", new { profileId = Model.Profile.Id, geofenceId = item.Id, add=false })" class=" btn btn-danger"><span class="glyphicon glyphicon-trash"></span></a>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>No Geofence </tr>
            }
        </tbody>
    </table>
</div>

<div class="row VisualItem">
    <div class="modal fade" id="newVisualItem" tabindex="-1" role="dialog"aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">VisualItem</h4>
                </div>
                @using (Html.BeginForm("AddNewVisualItem", "Profile", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="modal-body" id="tblVisualItems">
                            <div class="form-group">
                                <label class="control-label col-md-2" for="Name">Name</label>
                                <div class="col-md-10">
                                    <input class="form-control text-box single-line" id="Name" name="Name" type="text" value="" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2" for="Description">Description</label>
                                <div class="col-md-10">
                                    <input class="form-control text-box single-line" id="Description" name="Description" type="text" value="" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2" for="Text">Text to speak</label>
                                <div class="col-md-10">
                                    <input class="form-control text-box single-line" id="Text" name="Text" type="text" value="" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2" for="VisualItemUpload">Image</label>
                            <div class="col-md-10">
                                <input type="file" id="Image" name="image" />
                            </div>
                        </div>
                        <div class="form-group" hidden>
                            <label class="control-label col-md-2" for="profileId">Profile ID</label>
                            <div class="col-md-10">
                                <input class="form-control text-box single-line" id="profileId" name="profileId" type="text" value="@Model.Profile.Id" />
                            </div>
                        </div>
                </div>
                <div class="modal-footer">
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Create" class="btn btn-default" />
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>

                        </div>
                </div>
                }
            </div>
        </div>
    </div>
</div>

<div class="row VisualItem">
    <div class="modal fade" tabindex="-1" id="addVisualItem" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">VisualItem</h4>
                </div>
                <div class="modal-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>@Html.DisplayName("Name")</th>
                                <th>@Html.DisplayName("Description")</th>
                                <th>@Html.DisplayName("Text")</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.VisualItems)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.Name)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Description)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Text)</td>
                                    <td>    
                                        <a href="@Url.Action("ManageVisualItem", "Profile", new { profileId = Model.Profile.Id, visualItemId = item.Id, add=true })" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Add</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row VisualItem">
    <div class="modal fade" tabindex="-1" id="addGeofence" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Geofence</h4>
                </div>
                <div class="modal-body">
                    <table class=" table">
                        <thead>
                            <tr>
                                <th>@Html.DisplayName("Name")</th>
                                <th>@Html.DisplayName("Lat")</th>
                                <th>@Html.DisplayName("Long")</th>
                                <th>@Html.DisplayName("Radius")</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.GeoFence.Count != 0)
                            {
                                foreach (var item in Model.GeoFence)
                                {
                                    <tr>
                                        <td>@item.Name</td>
                                        <td>@item.Lat</td>
                                        <td>@item.Long</td>
                                        <td>@item.Radius</td>
                                        <td>
                                            <a href="@Url.Action("ManageGeofence", "Profile", new { profileId = Model.Profile.Id, geofenceId = item.Id, add = true })" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Add</a>
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>No Geofence </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Profile.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
