﻿@model IEnumerable<MSCGroupProject.Framework.Domain.GeoFence>

@{
    ViewBag.Title = "Index";
}

<h2>Geofence</h2>

<p>
    <a href="@Url.Action("Create", "Geofence")" class="btn btn-success">
        <span class="glyphicon glyphicon-plus-sign"></span> Geofence
        </a><br />
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Long)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Radius)
        </th>
       
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Long)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Radius)
        </td>
        
        <td>
        </td>
    </tr>
}

</table>
