﻿@model IEnumerable<MSCGroupProject.Framework.Domain.VisualItem>

@{
    ViewBag.Title = "Index";
}
<div id="container">
<h2>Visual Item</h2>
<button data-toggle="modal" data-target="#addVisualItem" class="btn btn-success">
    <span class="glyphicon glyphicon-plus-sign"></span> Visual Item
</button><br/>
    <div style="margin-top:10px;">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayName(" Is Private")
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsPrivate)
                    </td>
                    <td>
                        <a href="@Url.Action("Manage", "VisualItem", new {id = item.Id })" class="btn btn-primary"><span class="glyphicon glyphicon-wrench"></span>  Manage</a>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>
    <div class="row VisualItem">
        <div class="modal fade" id="addVisualItem" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">New Visual item</h4>
                    </div>
                    @using (Html.BeginForm("Create", "VisualItem", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-horizontal">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="modal-body" id="tblVisualItems">
                                <div class="form-group">
                                    <label class="control-label col-md-2" for="Name">Name</label>
                                    <div class="col-md-10">
                                        <input class="form-control text-box single-line" id="Name" name="Name" type="text" value="" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2" for="Description">Description</label>
                                    <div class="col-md-10">
                                        <input class="form-control text-box single-line" id="Description" name="Description" type="text" value="" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2" for="Text">Text to speak</label>
                                    <div class="col-md-10">
                                        <input class="form-control text-box single-line" id="Text" name="Text" type="text" value="" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2" for="VisualItemUpload">Image</label>
                                    <div class="col-md-10">
                                        <input type="file" id="Image" name="image" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2" for="IsPrivate">Is Private</label>
                                    <div class="col-md-10">
                                        <input class="form-control text-box single-line" id="IsPrivate" name="IsPrivate" type="checkbox" value="true" />
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Create" class="btn btn-primary" />
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>

                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    </div>
