﻿@model MSCGroupProject.Models.ManageVisualItemViewModel
@{
    ViewBag.Title = "Manage Visual Item";
}
<div>
    <div class="container">
        <div class="jumbotron">
            
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="blog-details">
                    <h2>Visual Item</h2>
                    <table class="table">
                        <tr>
                            <td><b>@Html.DisplayName("Name")</b></td>
                            <td>@Model.VisualItem.Name</td>
                        </tr>
                        <tr>
                            <td><b>@Html.DisplayName("Description")</b></td>
                            <td>@Model.VisualItem.Description</td>
                        </tr>
                        <tr>
                            <td><b>@Html.DisplayName("Text")</b></td>
                            <td>@Model.VisualItem.Text</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb pull-left">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="data:image;base64,@System.Convert.ToBase64String(Model.VisualItem.Upload)" alt="">
                </a>
            </div>
        </div>
            
        </div>
        
        <div id="contatiner">
            <div style="height:auto;"></div>
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand active" href="#">Profile</a>
                    </div>
                    <div>
                        <ul class="nav navbar-nav">
                            <li data-toggle="modal" data-target="#addProfile"><a href="#">Create New</a></li>
                            <li data-toggle="modal" data-target="#addProfileToVisualItem"><a href=" #">Add Existing</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <table class="table">
                <thead>
                    <tr>
                        <th>@Html.DisplayName("#ID")</th>
                        <th>@Html.DisplayName("Name")</th>
                        <th>@Html.DisplayName("Catagory")</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.VisualItem.Profiles.Count != 0)
                    {
                        foreach (var item in Model.VisualItem.Profiles)
                        {
                            <tr>
                                <td>@item.Id.ToString()</td>
                                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                                <td>@Html.DisplayFor(modelItem => item.Catagory)</td>
                                <td>
                                    <a href="@Url.Action("ManageProfiles", "VisualItem", new { visualItemId = Model.VisualItem.Id, profileId = item.Id, add = false })" class=" btn btn-danger"><span class="glyphicon glyphicon-trash"></span></a>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>No VisualItem </tr>
                    }
                </tbody>

            </table>
        </div>
        <div id="contatiner">
            <div style="height:auto;"></div>
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand active" href="#">Geofence</a>
                    </div>
                    <div>
                        <ul class="nav navbar-nav">
                            <li>@Html.ActionLink("Create New", "Create", "Geofence")</li>
                            <li data-toggle="modal" data-target="#addGeofenceToVisualItem"><a href=" #">Add Existing</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <table class="table">
                <thead>
                    <tr>
                        <th>@Html.DisplayName("#ID")</th>
                        <th>@Html.DisplayName("Name")</th>
                        <th>@Html.DisplayName("Lat")</th>
                        <th>@Html.DisplayName("Long")</th>
                        <th>@Html.DisplayName("Radius")</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.VisualItem.GeoFences.Count != 0)
                    {
                        foreach (var item in Model.VisualItem.GeoFences)
                        {
                            <tr>
                                <td>@item.Id.ToString()</td>
                                <td>@item.Name</td>
                                <td>@item.Lat</td>
                                <td>@item.Long</td>
                                <td>@item.Radius</td>
                                <td>
                                    <a href="@Url.Action("ManageGeofence", "VisualItem", new { visualItemId = Model.VisualItem.Id, geofenceId = item.Id, add = false })" class=" btn btn-danger"><span class="glyphicon glyphicon-trash"></span></a>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>No Geofence </tr>
                    }
                </tbody>
            </table>
        </div>
        <br />
        <dl class="dl-horizontal">
    </div>

        <div id="container">
            <div class="modal fade" id="addGeofenceToVisualItem" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Geofence</h4>
                        </div>
                        <div class="modal-body">
                            <table class=" table">
                                <thead>
                                    <tr>
                                        <th>@Html.DisplayName("Name")</th>
                                        <th>@Html.DisplayName("Lat")</th>
                                        <th>@Html.DisplayName("Long")</th>
                                        <th>@Html.DisplayName("Radius")</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.GeoFence.Count != 0)
                                    {
                                        foreach (var item in Model.GeoFence)
                                        {
                                            <tr>
                                                <td>@item.Name</td>
                                                <td>@item.Lat</td>
                                                <td>@item.Long</td>
                                                <td>@item.Radius</td>
                                                <td>
                                                    <a href="@Url.Action("ManageGeoFence", "VisualItem", new { visualItemId = Model.VisualItem.Id, geofenceId = item.Id, add = true })"
                                                       class="btn btn-success"><span class="glyphicon glyphicon-plus"></span>Add</a>
                                                </td>
                                            </tr>
                                        }
                                    }
                                    else
                                    {
                                        <tr>No Geofence </tr>
                                    }
                                </tbody>

                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="modal fade" id="addProfile" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Profile</h4>
                    </div>
                    @using (Html.BeginForm("AddNewProfile", "VisualItem", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-horizontal">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="modal-body" id="tblProfile">
                                <div class="form-group">
                                    <label class="control-label col-md-2" for="Name">Name</label>
                                    <div class="col-md-10">
                                        <input class="form-control text-box single-line" id="Name" name="Name" type="text" value="" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2" for="Catagory">Catagory</label>
                                    <div class="col-md-10">
                                        <input class="form-control text-box single-line" id="Catagory" name="Catagory" type="text" value="" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2" for="IsDefault">Default</label>
                                    <div class="col-md-10">
                                        <input class="form-control text-box single-line" id="IsDefault" name="IsDefault" type="checkbox" value="true" />
                                    </div>
                                </div>
                                <div class="form-group" hidden>
                                    <label class="control-label col-md-2" for="visualItemId">VisualItem</label>
                                    <div class="col-md-10">
                                        <input class="form-control text-box single-line" id="visualItemId" name="visualItemId" type="text" readonly value="@Model.VisualItem.Id" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Create" class="btn btn-primary" />
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>

                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div id="container">
            <div class="modal fade" id="addProfileToVisualItem" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Profile</h4>
                        </div>
                        <div class="modal-body" id="tblProfile">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>@Html.DisplayName("Profile Name")</th>
                                        <th>@Html.DisplayName("Profile Catagory")</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.Profiles.Count != 0)
                                    {
                                        foreach (var item in Model.Profiles)
                                        {
                                            <tr>
                                                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                                                <td>@Html.DisplayFor(modelItem => item.Catagory)</td>
                                                <td>
                                                    <a href="@Url.Action("ManageProfiles", "VisualItem", new { visualItemId = Model.VisualItem.Id, profileId = item.Id, add = true })" 
                                                       class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Add</a>
                                                </td>
                                            </tr>
                                        }
                                    }
                                    else
                                    {
                                        <tr>No VisualItem </tr>
                                    }
                                </tbody>

                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
