﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Group Project</h1>
    <p class="lead">
        Group project by Adam, Ben, Joel and Tom. We have developed a full user service that allows for dynamic content for an application design to help people communicate.
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Geofence</h2>
        <p>
            This section will allo the administration and creation of a GeoFence, this is used to determin which profiles to show based on location
        </p>
    </div>
    <div class="col-md-4">
        <h2>Profile</h2>
        <p>This section will allow the administration and creation of a Profiles, this is used to provide context to the words and images used by the application </p>
    </div>
    <div class="col-md-4">
        <h2>Visual Item</h2>
        <p>This section will allow the administration and creation of a Visual item, this is used to provide the words and images used by the application </p>
    </div>
</div>